body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather' serif;
}
h1{
  margin: 0;
  font-family: 'Sacramento', cursive;
font-size: 2.8rem;
margin-right: 40px;
color: #0f3057
}

h2{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.8rem;
  color:  #0f3057
}

h3{
  font-family: 'Merriweather Sans', sans-serif;

color: #19456b}

.top-container{
background-color: #E4F9F5;
position: relative;
padding-top: 100px;
}

.middle-container{

}
.bottom-container{

}
.pro{
  text-decoration: underline;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position:absolute;
  left: 300px;
  bottom: 300px;
}
.skill-row{
  width: 50%;
  margin:auto;

}
hr{
  color: black;
  shape-outside: inherit;
}
.coding{
  width: 50%;
}
.food{
  width: 50%;
}
